.title {
    color: #fcd064;
}
.blue {
    border-bottom: 5px solid blue;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testSpanError {
    color: blue;
}
.inputWrapper {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.buttonWrapper {
    margin-top: 20px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.checkboxWrapper {
    margin-top: 20px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}